<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">	
<head>
<title>Controle de estagio</title>
</head>	  

<body>

<h1>Cadastro do aluno</h1>
<form method="post">
	Descrição: <input type="text" value="" name="descricao"/><br><br>
	Requisitos Obrigatórios: <input type="text" value="" name="requisitosObrigatorios"/><br><br>
	Requisitos Desejáveis: <input type="text" value="" name="requisitosDesejaveis"/><br>
	<br><br>
	<button type="submit">Enviar</button>

</form>

</body>

</html>