<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">	
<head>
<title>Controle de estagio</title>
</head>	  

<body>

<h1>Cadastro do supervisor do estágio</h1>
<form method="post">
    RA: <input type="text" value="" name="ra"/><br><br>
	Nome do aluno: <input type="text" value="" name="nomeAluno"/><br><br>
    Nome da empresa: <input type="text" value="" name="nomeEmpresa"/><br><br>	
    Data: <input type="date" value="" name="data"/><br><br>
    Atividade 1: <input type="text" value="" name="atividade1"/><br><br>	
    Atividade 2: <input type="text" value="" name="atividade2"/><br><br>	
    Atividade 3: <input type="text" value="" name="atividade3"/><br><br>	
       
	<br><br>
	<button type="submit">Enviar</button>

</form>

</body>

</html>