
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">	
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Controle de estagio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="/materialize/css/style.css">
</head>	  

<body>


<h1>Visão do administrador</h1>
<h3><a href="/alunos">Listar Alunos</a></h3>

<h3>Lista de alunos</h3>

<div th:each="aluno : ${alunos}" >
<div class="row">
<p><samp th:text="${aluno.ra}"></samp></p>
<p><samp th:text="${aluno.nome}"></samp></p>
<p><samp th:text="${aluno.sobrenome}"></samp></p>
<p><samp th:text="${aluno.curso}"></samp></p>
<p><samp th:text="${aluno.anoDoCurso}"></samp></p>
<p><samp th:text="${aluno.termino}"></samp></p>
<p><samp th:text="${aluno.habilidade}"></samp></p>
<p><samp th:text="${aluno.sobreVoce}"></samp></p>

</div>
</div>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
    	if(${alunos})
    		alert('is aluno')
    	else
    		alert('nada funciona nessa bosta')
    </script>
  </body>

</html>